

body {
    background-color:rgb(177, 179, 184);
    height: auto;
}

.nav {
    margin: 10px;
}

ul {
    height: 50px;
    background-color: rgb(177, 179, 184);
}

.nav-link {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 13px;
    

}


.hero {
    width: 601px;
}

.hero img {
    height: 594px;
}


h1 {
    position: absolute;
    top: 300px;
    left: 325px;
    color: rgb(199, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
}


.cardrow {
    margin-top: 10px;
    display: flex;
}

.column {
    flex: 33%;
    padding: 10px;
}

.camera {
    position: relative;
    display: inline-block;
}
.camera img {
    position: relative;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    /* padding-bottom: 100px; */
    
}

.capture h3 {
  position: absolute;
  height: 100%;
  text-align: right;
  width: 100%;
  margin-top: -370px;
  padding-right: 50px;

  color: rgb(199, 121, 121);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 700;
  

}


.logo h2 {
    color: rgb(199, 121, 121);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 50px;
    text-align: center;
    background-color: black;
    padding: 50px;

}
.list {
    background-color: black;
    margin-top: 50px;
}
.question h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: white;
    padding: 50px;
}

.list-group {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 400px;
    text-align: center;
    display: table;
    margin: 0 auto;
    padding-bottom: 50px;
    
   
}


}

  